<div class="login-form">
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="Username">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <div class="login-info">
      <span>Belum punya Akun? <a routerLink="/register">Daftar Sekarang</a></span>
    </div>
  </form>
</div>